<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li><a href="/dashboard/addjobhistory" routerLinkActive="active"><i class="fa fa-circle-o text-red"></i> <span>Add Job history</span></a></li>
      <li><a href="/dashboard/updatejobhistory" routerLinkActive="active"><i class="fa fa-circle-o text-yellow"></i> <span>Update Job history</span></a></li>
      <li><a href="/dashboard/addskill"><i class="fa fa-circle-o text-aqua"></i> <span>Add Skill</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Update Skill</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Log out</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
